/* Your CSS goes here */
input {
    background-color: yellow
}
input[name=lastname] {
    font-weight: bold;
}
.instructions {
    border: solid 5px blue;
    padding: 5px;
}
.container-fluid {
    text-align: center;
}